<p-toast />
<p-confirmdialog />

<div class="flex justify-content-end mb-2">
    <p-button label="Nova Formação" icon="pi pi-plus" (click)="abrirCadastrar()"></p-button>
</div>

<p-table [value]="formacoes" 
    [paginator]="true"
    [loading]="carregandoFormacoes"
    [rows]="20"
    [rowsPerPageOptions]="[20, 40, 60]"
    showGridlines 
    stripedRows 
    [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Duração</th>
            <th>Ação</th>
        </tr>
    </ng-template>
    <ng-template #body let-formacao>
        <tr>
            <td>{{ formacao.id }}</td>
            <td>{{ formacao.nome}}</td>
            <td>{{ formacao.descricao }}</td>
            <td>{{ formacao.duracao }}</td>
            <td>
                <p-button 
                (click)="abrirEditar(formacao)"
                label="Editar" 
                severity="warn" 
                class="mr-2" 
                icon="pi pi-pencil"></p-button>

                <p-button 
                label="Apagar" 
                outlined="true" 
                (click)="confirmarExcluir($event, formacao.id)" severity="danger" icon="pi pi-trash"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [header]="dialogTituloCadastrarEditar" [modal]="true" [(visible)]="dialogVisivelCadastrarEditar" [style]="{ width: '25rem' }">

    <div class="flex items-center gap-4 mb-2">
        <label for="campo-nome" class="font-semibold flex-auto">Nome</label>
        <input pInputText id="campo-nome" class="flex-auto" autocomplete="off" [(ngModel)]="formacaoCadastro.nome" />
    </div>

    
    <div class="flex justify-end justify-content-end gap-2">
        <p-button label="Cancelar" severity="secondary" icon="pi pi-times" (click)="dialogVisivelCadastrarEditar = false" />
        <p-button label="Salvar" icon="pi pi-save" (click)="salvar()" />
    </div>

</p-dialog>

