<div class="card">
    <p-table [value]="cursos"
        showGridlines stripedRows
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Sigla</th>
                <th>Ação</th>
            </tr>
        </ng-template>
        <ng-template #body let-curso>
            <tr>
                <td>{{ curso.id }}</td>
                <td>{{ curso.nome }}</td>
                <td>{{ curso.sigla }}</td>
                <td>
                    <p-button label="Editar" severity="warn"></p-button>
                    <p-button label="Apagar" severity="danger"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
